<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:property-placeholder location="classpath:application.properties"/>
	
	<!-- settings from application.properties -->
	<bean
		id="settings"
		class="ca.empowered.nms.graph.config.Settings">
		<property name="appName" value="${eni.nms.graph.appName}" />
		<property name="appMode" value="${eni.nms.graph.appMode}" />
		<property name="sourceConfigFile" value="${eni.nms.graph.source.file.config}" />
		<property name="sourceReadContinuously" value="${eni.nms.graph.source.read.continuously}" />
		<property name="sourceReadInterval" value="${eni.nms.graph.source.read.interval}" />
		
		<property name="outputInitialGraphFile" value="${eni.nms.graph.output.file}" />
		<property name="graphvizPath" value="${eni.nms.graph.grpahviz.path}" />
		<property name="graphvizLayout" value="${eni.nms.graph.grpahviz.layout}" />
		<property name="graphvizFormat" value="${eni.nms.graph.grpahviz.format}" />
		<property name="graphvizOutputFile" value="${eni.nms.graph.grpahviz.output.file}" />
		
		<property name="restServerIP" value="${eni.nms.graph.rest.server.ip}" />
		<property name="restServerPort" value="${eni.nms.graph.rest.server.port}" />
		<property name="restServerPath" value="${eni.nms.graph.rest.server.path}" />
		<property name="nodeNameSuffix" value="${eni.nms.graph.node.name.suffix}" />
	</bean>
	
	<!-- config file for json source -->
	<bean
		id="jsonFileTopologySource"
		class="ca.empowered.nms.graph.topology.source.file.json.JsonFileTopologySource">
		<constructor-arg type="org.springframework.core.io.Resource" value="#{settings.sourceConfigFile}" />
	</bean>
	
	<!-- topology source manager -->
	<bean
		id="topologySourceManager"
		class="ca.empowered.nms.graph.topology.source.TopologySourceManager">
		<constructor-arg  type="ca.empowered.nms.graph.topology.source.TopologySource"  ref="jsonFileTopologySource" />
	</bean>
	
	<!-- graphviz dot output -->
	<bean
		id="gvFileTopologyOutput"
		class="ca.empowered.nms.graph.topology.output.file.gv.GVFileTopologyOutput">
		<constructor-arg type="org.springframework.core.io.Resource" value="#{settings.outputInitialGraphFile}" />
	</bean>
	
	<!-- topology output manager -->
	<bean
		id="topologyOutputManager"
		class="ca.empowered.nms.graph.topology.output.TopologyOutputManager">
		<constructor-arg  type="ca.empowered.nms.graph.topology.output.TopologyOutput"  ref="gvFileTopologyOutput" />
	</bean>
	
	<!--  graphviz -->
	<bean
		id="graphviz"
		class="ca.empowered.nms.graph.api.cli.GraphViz">
	</bean>
	
	<!-- topology manager -->
	<bean
		id="topologyManager"
		class="ca.empowered.nms.graph.topology.TopologyManager">
		<constructor-arg type="ca.empowered.nms.graph.topology.source.TopologySourceManager"  ref="topologySourceManager" />
		<constructor-arg type="ca.empowered.nms.graph.topology.output.TopologyOutputManager"  ref="topologyOutputManager" />
		<constructor-arg type="ca.empowered.nms.graph.api.cli.GraphViz"  ref="graphviz" />
	</bean>
	
	<!-- rest server api -->
	<bean
		id="restServer"
		class="ca.empowered.nms.graph.api.rest.RestServer">	
		<constructor-arg type="ca.empowered.nms.graph.topology.TopologyManager"  ref="topologyManager" />
	</bean>
	
</beans>